body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
}

.region-header-top {
    background-color: #0b3d91;
    color: white;
    padding: 10px 0;
}

.region-header-top a {
    color: white;
    text-decoration: none;
}

.region-header-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.region-header-top ul li {
    display: inline;
    margin-right: 10px;
}

.common-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

.logo strong {
    display: block;
    font-size: 1.5em;
}

.logo span {
    display: block;
}

.header-right img {
    height: 50px;
    margin-left: 15px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#heatmap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Adjust the size of each column */
    grid-gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.light {
    background-color: #add8e6;
}

.medium {
    background-color: #87ceeb;
}

.dark {
    background-color: #4682b4;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ddd;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e0dcdc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d8d3d1;
}

.dropbtn {
    background-color: #433bb9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
